@media (min-width: 390px) {
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        color: #333;
        background-color: #fff;
    }

    header {
        background-color: #8B0000; /* Dark Red */
        padding: 10px 0;
        text-align: center;
        height: 60px; /* Fixed height for the header */
        display: flex;
        align-items: center;
        justify-content: center;
    }
}